




/* src/courses/CourseCard.css */
/* 
.course-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 16px;
    margin: 8px;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #f9f9f9;
    transition: transform 0.2s;
  }
  
  .course-card:hover {
    transform: scale(1.05);
  }
  
  .course-card img {
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
  }
  
  .course-card h2 {
    margin: 10px 0;
    font-size: 1.5em;
  }
  
  .course-card p {
    margin: 8px 0;
  }
   */

   /* src/courses/CourseCard.css */


.course-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 16px;
    margin: 8px;
    width: 150%;
    max-width: 500px;
    height: 500px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #f9f9f9;
    transition: transform 0.2s;
  }
  
  .course-card:hover {
    transform: scale(1.05);
  }
  
  .course-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
  }
  
  .course-card h2 {
    margin: 10px 0;
    font-size: 1.2em;
  }
  
  .course-card p {
    margin: 8px 0;
    font-size: 0.9em;
  }

 