.accordion-item {
  margin-bottom: 10px;
  border: 1px solid #444;
  border-radius: 5px;
  overflow: hidden;
}

.accordion-item .accordion-title {
  background-color: #333;
  padding: 15px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-item .accordion-title h2 {
  margin: 0;
  font-size: 16px;
}

.accordion-item .accordion-content {
  background-color: #444;
  padding: 15px;
}

.accordion-item.active .accordion-title {
  background-color: #555;
}
