.accordions-content {
  color: #fff;
  overflow: hidden; /* Ensures content doesn't overflow */
}

/* Adjusting height to fit content */
.accordions-content {
  display: inline-block;
  max-height: 100%; 
  overflow-y: auto;
  max-width: 100%; 
}

.sub-step-title {
  width: 100%;
  font-size: 18px;
  cursor: pointer;
  margin: 10px 0;
  height: 100%; /* Set height to 100% */
  box-shadow: 0 2px 4px rgba(215, 213, 213, 0.927); /* Adjust shadow values as needed */
}

.title h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.sub-step-title {
  width: 100%;
  font-size: 18px;
  cursor: pointer;
  margin: 10px 0;
  box-shadow: 0 2px 4px rgba(215, 213, 213, 0.927); /* Adjust shadow values as needed */
}

.topics {
  margin-left: 20px;
}

.topic {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.status {
  margin-right: 10px;
}

.article-btn, .youtube-btn, .practice-btn, .note-btn, .revision-btn {
  margin-left: 10px;
}

.difficulty {
  margin-left: auto;
  padding: 5px 10px;
  border-radius: 5px;
}

.difficulty.easy {
  background-color: green;
}

.difficulty.medium {
  background-color: orange;
}

.difficulty.hard {
  background-color: red;
}

.head {
  width: 100%;
  text-align: center; /* Center the title */
}

.head > h1 {
  margin: 0 auto;
}

.topic {
  width: 100%; /* Ensure topic takes full width */
}

.sub-step-title {
  width: 100%; /* Ensure subtitle takes full width */
}
