.accordions-content {
  width: 100%;
  max-height: 400px; /* Adjust this value based on your desired maximum height */
  overflow-y: auto;  /* Enables vertical scrolling if content overflows */
}


.title .head {
  padding: 10px;
}

.sub-step {
  margin-bottom: 10px;
}

.sub-step-header {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sub-step-title {
  flex-grow: 1;
  margin: 0;
  font-size: 1rem;
  display: block;
  box-shadow: 0 0 90px rgba(240, 235, 235, 0.1); /* Updated box-shadow */
  padding: 20px; /* Adjust padding to center text vertically */
  line-height: 17px; /* Adjust line-height to center text vertically */
}

.arrow {
  margin-left: 10px;
  font-size: 1.5em;
}

.topics {
  margin-top: 10px;
  padding-left: 20px;
}

.topic {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.status {
  margin-right: 10px;
}

.article-btn, .youtube-btn, .practice-btn, .note-btn, .revision-btn {
  margin-left: 10px;
  color: blue;
}

.difficulty {
  margin-left: auto;
  padding: 5px;
}

.difficulty.easy {
  color: green;
}

.difficulty.medium {
  color: orange;
}

.difficulty.hard {
  color: red;
}
