/* * {
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
} */
/* body {
  width: 100%;
  margin: 0;
  overflow-x: hidden;
} */
#container2 {
  height: 70%;
  text-align: left;
  color: rgb(12, 12, 123);
  position: relative;
}
#container2 > h1,
p {
  position: relative;
  left: 10px;
}
#image {
  width: 100%;
  height: 400px;
  filter: brightness(50%);
  position: relative;
  top: 5px;
}
#title {
  width: 90%;
}
#container1 > #title > p {
  color: white;
  position: relative;
  bottom: 150px;
  left: 60px;
  font-size: 30px;
  text-align: center;
  font-weight: 500;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}



#content {
  color: black;
  position: relative;
  width: 50%;
  left: 50px;
  top: 20px;
}
#content > p {
  text-align: left;
  position: relative;
  top: 18px;
  font-size: 18px;
  color: black;
}
#content > h1 {
  font-size: 30px;
  color: rgb(12, 12, 123);
  position: relative;
  left: 13px;
}
#content > img {
  height: 250px;
  width: 400px;
  position: relative;
  left: 120%;
  bottom: 240px;
  border-radius: 25% 10%;
  box-shadow: 2px 2px 2px 2px rgb(8, 1, 17);
}

#content2 {
  color: black;
  position: relative;
  bottom: 100px;
}
#mission {
  height: 100px;
  width: 50%;
  font-size: 18px;
  text-align: left;
}
#mission > h1 {
  text-align: center;
  color: rgb(12, 12, 123);
  font-weight: bolder;
  position: relative;
  right: 180px;
  font-size: 30px;
}

#mission > img {
  height: 250px;
  width: 350px;
  position: relative;
  left: 850px;
  bottom: 190px;
  border-radius: 25% 10%;
  box-shadow: 2px 2px 2px 2px rgb(8, 1, 17);
}
#mission > p {
  font-size: 18px;
  position: relative;
  top: 15px;
  left: 60px;
  color: black;
}
#content3 {
  color: black;
  position: relative;
  top: 250px;
}
#content3 > h1 {
  position: relative;
  font-size: 30px;
  color: rgb(12, 12, 123);
}
#first {
  height: 250px;
  width: 40%;
  text-align: left;
  position: relative;
  left: 50px;
  top: 50px;
  border: 1px solid black;
  border-radius: 25% 10%;
  padding: 5px;
  background-color: white;
  box-shadow: 2px 2px 2px 2px rgb(8, 1, 17);
}
#first > img {
  height: 120px;
  width: 120px;
  position: relative;
  left: 180px;
  bottom: 5px;
}
#first > h2 {
  position: relative;
  left: 0px;
  padding: 10px;
  bottom: 13px;
}

#first > p{
  width: 37vw;
  color: black;
  position: relative;
  bottom: 27px;
}

#second {
  height: 250px;
  width: 40%;
  text-align: left;
  position: relative;
  left: 54%;
  bottom: 210px;
  border: 1px solid black;
  border-radius: 25% 10%;
  padding: 5px;
  background-color: white;
  box-shadow: 2px 2px 2px 2px rgb(8, 1, 17);
}
#second > img {
  height: 120px;
  width: 120px;
  text-align: center;
  position: relative;
  left: 190px;
  bottom: 5px;
}
#second > h2 {
  position: relative;
  padding: 10px;
  bottom: 25px;
}

#second >p{
  color: black;
  position: relative;
  bottom: 32px;
}
#third {
  height: 250px;
  width: 40%;
  text-align: left;
  position: relative;
  bottom: 150px;
  left: 50px;
  border: 1px solid black;
  border-radius: 25% 10%;
  padding: 5px;
  background-color: white;
  box-shadow: 2px 2px 2px 2px rgb(8, 1, 17);
}

#third > img {
  height: 140px;
  width: 140px;
  text-align: center;
  position: relative;
  left: 180px;
}

#third > h2 {
  position: relative;
  bottom: 27px;
}

#third > p{
  width: 37vw;
  color: black;
  position: relative;
  bottom: 28px;
}


#forth {
  height: 250px;
  width: 40%;
  text-align: left;
  position: relative;
  bottom: 410px;
  left: 680px;
  border: 1px solid black;
  border-radius: 25% 10%;
  padding: 5px;
  background-color: white;
  box-shadow: 2px 2px 2px 2px rgb(8, 1, 17);
}
#forth > img {
  height: 140px;
  width: 140px;
  text-align: center;
  position: relative;
  left: 170px;
  bottom: 5px;
}
#forth > h2 {
  position: relative;
  bottom: 24px;
}

#forth > p{
  color: black;
  position: relative;
  bottom: 24px;
  width: 37vw;;
}


#team-member {
  height: 250px;
  width: 300px;
  text-align: center;
  padding: 30px;
  border: 2px solid black;
  margin: 5px;
  border-radius: 10px;
  position: relative;
  top: 60px;
}

#slick-slide > div {
  margin: 0 10px;
}


#outer {
  margin: auto;
  width: 94%;
  height: 100vh;
  position: relative;
  bottom: 100px;
  color: black;
}
#inner {
  margin-top: 20px;
}
#team {
  background-color: white;
  color: black;
  height: 400px;
  border: 1px solid black;
  border-radius: 1rem;
}
#team-image {
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(12, 12, 123);
  height: 200px;
}
#team-image > img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

#team-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4;
  padding: 30px;
  font-weight: bold;
  padding: 35px;
  text-align: center;
  color: black;
}
#outer > h1 {
  position: relative;
  left: 45px;
}
#team-info > #name {
  font-weight: 900;
  position: relative;
  top: -20px;
  color: black;
}

#team-info >p{
  color: black;
}

#content5 {
  text-align: center;
  height: 100vh;
  position: relative;
  bottom: 100px;
}
#content5 > h1 {
  font-size: 30px;
}
#content5 > p {
  font-size: 30px;
  color: black;
}

#div1 {
  height: 370px;
  width: 350px;
  border-bottom: 1px solid black;
  margin: 50px;
  border-radius: 5px;
  box-shadow: 1px 2px 2px 1px gray;
}



#div1 > img {
  height: 214px;
  width: 350px;
  border-radius: 5px;
}
#div1 > a > p:hover {
  color: rgb(12, 12, 123);
}
#icon > img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: relative;
  bottom: 10px;
  right: 60px;
  box-shadow: 2px 2px 2px 2px gray;
}
#icon > span {
  position: relative;
  top: -30px;
  bottom: 50px;
  right: 20px;
  font-size: 25px;
  color: black;
}
a {
  text-decoration: none;
  color: black;
}
a > p {
  font-size: 25px;
  padding: 10px;
  color: black;
}

#div2 {
  height: 370px;
  width: 350px;
  border-bottom: 1px solid black;
  margin: 50px;
  position: relative;
  bottom: 420px;
  left: 400px;
  border-radius: 5px;
  box-shadow: 1px 2px 2px 1px gray;
}
#div2 > a > p:hover {
  color: rgb(12, 12, 123);
}
#div2 > img {
  height: 214px;
  width: 350px;
  border-radius: 5px;
  position: relative;
}


#div2 > p {
  font-size: 25px;
  padding: 10px;
  color: black;
}

#div3 {
  height: 370px;
  width: 350px;
  border-bottom: 1px solid black;
  margin: 50px;
  position: relative;
  bottom: 840px;
  left: 800px;
  border-radius: 5px;
  box-shadow: 1px 2px 2px 1px gray;
}
#div3 > a > p:hover {
  color: rgb(12, 12, 123);
}
#div3 > img {
  height: 214px;
  width: 350px;
  border-radius: 5px;
}
#div3 > p {
  font-size: 25px;
  padding: 10px;
  color: black;
}

/* Media query.......................... */

@media (max-width: 360px) {
  .image {
    width: 100%;
    height: 300px;
  }
  .title {
    position: relative;
    top: 30px;
    right: 40px;
  }
  #title {
    font-size: 22px;
    position: relative;
  }
  #content {
    width: 300px;
    position: relative;
    left: 10px;
    top: -50px;
  }
  #content > h1 {
    font-size: 18px;
  }
  #content > p {
    font-size: 12px;
  }
  #content > img {
    left: 10px;
    top: 40px;
    height: 150px;
    width: 290px;
  }
#content2 {
    width: 600px;
    right: 40px;
    top: 5px;
  }
  #mission > h1 {
    font-size: 22px;
    left: 70px;
  }
  #mission > p {
    font-size: 12px;
  }
  #mission > img {
    position: relative;
    left: 60px;
    top: 50px;
    height: 150px;
    width: 290px;
  }

  #content3 {
    position: relative;
    top: 300px;
  }
  #content3 > h1 {
    font-size: 22px;
    position: relative;
    left: 130px;
  }
  #first {
    height: 180px;
    width: 83%;
    position: relative;
    left: 20px;
    top: 20px;
    font-size: 12px;
  }
  #first > img {
    height: 54px;
    width: 54px;
    left: 120px;
  }
  #first > h2 {
    left: 80px;
  }
  #first > p {
    text-align: center;
    top: 10px;
    left: 1px;
  }
  #second {
    height: 180px;
    width: 83%;
    left: 20px;
    top: 40px;
    font-size: 12px;
  }
  #second > img {
    height: 54px;
    width: 54px;
    left: 120px;
  }
  #second > h2 {
    left: 40px;
    top: 10px;
  }
  #second > p {
    text-align: center;
    top: 10px;
    left: 1px;
  }
  #third {
    height: 180px;
    width: 83%;
    left: 20px;
    top: 60px;
    font-size: 12px;
  }
  #third > img {
    height: 54px;
    width: 54px;
    left: 120px;
  }
  #third > h2 {
    position: relative;
    left: 60px;
    top: 20px;
  }
  #third > p {
    text-align: center;
    top: 30px;
    left: 1px;
  }
  #forth {
    height: 180px;
    width: 83%;
    left: 20px;
    top: 80px;
    font-size: 12px;
  }
  #forth > img {
    height: 54px;
    width: 54px;
    left: 120px;
  }
  #forth > h2 {
    position: relative;
    left: 50px;
    top: 20px;
  }
  #forth > p {
    text-align: center;
    top: 30px;
    left: 1px;
  }
  #outer {
    top: 400px;
    font-size: 12px;
  }
  #outer > h1 {
    left: 120px;
  }
  #team {
    height: 330px;
  }
  #name {
    font-size: 18px;
  }
  #content5 {
    top: 230px;
    width: 300px;
  }
  #content5 > h1 {
    font-size: 22px;
    position: relative;
    left: 30px;
  }
  #content5 > p {
    font-size: 15px;
    top: 15px;
    left: 15px;
  }
  #div1 {
    position: relative;
    left: -30px;
    width: 300px;
  }
  #div1 > img {
    width: 300px;
  }
  #div1 > a > p {
    font-size: 18px;
  }
  #div2 {
    position: relative;
    left: -30px;
    width: 300px;
    top: -20px;
  }
  #div2 > img {
    width: 300px;
  }
  #div2 > a > p {
    font-size: 18px;
  }
  #div3 {
    position: relative;
    left: -30px;
    width: 300px;
    top: -40px;
  }
  #div3 > img {
    width: 300px;
  }
  #div3 > a > p {
    font-size: 18px;
  }
  #icon > img {
    left: -40px;
  }
}

@media (min-width: 361px) and (max-width: 768px) {
  #image {
    width: 100%;
    height: 300px;
  }
  #title {
    position: relative;
    top: 30px;
    right: 40px;
  }
  #title1 {
    font-size: 25px;
    position: relative;
  }
  #content {
    width: 730px;
    position: relative;
    left: 5px;
    top: -50px;
  }
  #content > h1 {
    font-size: 22px;
  }
  #content > p {
    font-size: 15px;
  }
  #content > img {
    left: 370px;
    top: 40px;
    height: 200px;
    width: 350px;
  }
  #content2 {
    width: 730px;
    height: 300px;
    top: 5px;
  }
  #mission > h1 {
    font-size: 22px;
    left: -110px;
  }
  #mission > p {
    font-size: 15px;
    left: 15px;
  }
  #mission > img {
    left: 400px;
    height: 210px;
    width: 330px;
    bottom: 200px;
  }

  #content3 {
    top: 30px;
    height: 500px;
  }
  #content3 > h1 {
    font-size: 22px;
    left: 15px;
  }
  #first {
    height: 180px;
    width: 45%;
    left: 20px;
    top: 20px;
    font-size: 12px;
  }
  #first > img {
    height: 54px;
    width: 54px;
    left: 120px;
  }
  #first > h2 {
    left: 80px;
  }
  #first > p {
    text-align: center;
    top: 10px;
    left: 1px;
  }
  #second {
    height: 180px;
    width: 45%;
    left: 380px;
    top: -175px;
    font-size: 12px;
  }
  #second > img {
    height: 54px;
    width: 54px;
    left: 120px;
  }
  #second > h2 {
    left: 40px;
    top: 10px;
  }
  #second > p {
    text-align: center;
    top: 10px;
    left: 1px;
  }
  #third {
    height: 180px;
    width: 45%;
    left: 20px;
    top: -150px;
    font-size: 12px;
  }
  #third > img {
    height: 54px;
    width: 54px;
    left: 120px;
  }
  #third > h2 {
    left: 60px;
    top: 20px;
  }
  #third > p {
    text-align: center;
    top: 30px;
    left: 1px;
  }
  #forth {
    height: 180px;
    width: 45%;
    left: 380px;
    top: -350px;
    font-size: 12px;
  }
  #forth > img {
    height: 54px;
    width: 54px;
    left: 120px;
  }
  #forth > h2 {
    position: relative;
    left: 50px;
    top: 20px;
  }
  #forth > p {
    text-align: center;
    top: 30px;
    left: 1px;
  }
  #outer {
    top: 50px;
    font-size: 12px;
  }
  #outer > h1 {
    left: -10px;
  }
  #team {
    height: 355px;
  }
  #name {
    font-size: 18px;
  }
  #team-info > p {
    text-align: center;
    bottom: 10px;
  }
  #content5 {
    top: -90px;
    width: 730px;
    height: 900px;
  }
  #content5 > h1 {
    font-size: 22px;
    position: relative;
    left: -290px;
  }
  #content5 > p {
    font-size: 20px;
    top: 22px;
    left: 10px;
  }
  #div1 {
    position: relative;
    left: -30px;
    width: 320px;
  }
  #div1 > img {
    width: 320px;
  }
  #div1 > a > p {
    font-size: 18px;
  }
  #div2 {
    position: relative;
    left: 350px;
    width: 320px;
  }
  #div2 > img {
    width: 320px;
  }
  #div2 > a > p {
    font-size: 18px;
  }
  #div3 {
    position: relative;
    left: -30px;
    width: 320px;
    top: -400px;
  }
  #div3 > img {
    width: 320px;
  }
  #div3 > a > p {
    font-size: 18px;
  }
  #icon > img {
    left: -40px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  #container {
    position: relative;
    right: 20px;
  }
  #content {
    width: 50%;
    left: 50px;
    top: 20px;
  }
  #content > p {
    text-align: left;
    position: relative;
    top: 18px;
    font-size: 18px;
  }
  #content > h1 {
    font-size: 30px;
    color: rgb(12, 12, 123);
    position: relative;
    left: 13px;
  }
  #content > img {
    left: 110%;
  }

  #content2 {
    bottom: 110px;
  }
  #mission {
    height: 100px;
    width: 50%;
    font-size: 18px;
    text-align: left;
  }
  #mission > h1 {
    right: 120px;
  }

  #mission > img {
    left: 660px;
    bottom: 210px;
  }
  #content3 {
    color: black;
    position: relative;
    top: 100px;
  }
  #content3 > h1 {
    position: relative;
    font-size: 30px;
    left: 60px;
    color: rgb(12, 12, 123);
  }
  #first {
    height: 270px;
    left: 60px;
  }
  #first > img {
    left: 150px;
  }
  #first > h2 {
    position: relative;
    left: 130px;
    padding: 10px;
  }

  #second {
    height: 270px;
    left: 54%;
    bottom: 230px;
  }
  #second > img {
    left: 150px;
  }
  #second > h2 {
    position: relative;
    left: 70px;
    padding: 10px;
  }
  #third {
    height: 270px;
    left: 60px;
  }

  #third > img {
    left: 140px;
  }

  #third > h2 {
    position: relative;
    bottom: 10px;
    left: 90px;
  }
  #forth {
    height: 270px;
    bottom: 440px;
    left: 550px;
  }
  #forth > img {
    left: 140px;
  }
  #forth > h2 {
    position: relative;
    left: 80px;
    bottom: 10px;
  }

  #outer {
    margin: auto;
    width: 94%;
    height: 100vh;
    position: relative;
    bottom: 270px;
    left: 30px;
  }
  #content5 {
    bottom: 350px;
  }
  #content5 > h1 {
    font-size: 30px;
  }
  
  #div1 {
    height: 350px;
    width: 300px;
    margin: 40px;
    position: relative;
    left: 20px;
  }

  #div1 > img {
    width: 300px;
  }
  #icon > img {
    right: 40px;
  }
  a > p {
    font-size: 18px;
  }

  #div2 {
    height: 350px;
    width: 300px;
    left: 335px;
  }
  #div2 > img {
    width: 300px;
  }

  #div3 {
    height: 350px;
    width: 300px;
    left: 660px;
  }
  #div3 > img {
    height: 214px;
    width: 300px;
    
  }
}