.containers {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    background-color: #fdf6e3;
    flex-wrap: wrap; /* Ensures cards wrap onto the next line on smaller screens */
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: calc(33.333% - 40px); /* Adjust the width to fit three cards in a row */
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.icon img {
    width: 200px;
    height: 200px;
}

.IMG1{
    height: 150px;
}

h3 {
    font-size: 1.5em;
    margin: 10px 0;
}

.peragraph {
    color: #333;
    font-size: 1em;
    line-height: 1.5;
    text-align: left;
}

/* .IMG1{
    height: 200px;
} */
.anchor {
    color: #2d9c72;
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px;
}

.anchor:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 1200px) {
    .card {
        width: calc(50% - 20px); 
    }
}

@media (max-width: 768px) {
    .card {
        width: calc(100% - 20px); 
    }
}


