

.trainers-section {
    text-align: center;
    padding: 50px 20px;
    font-family: Arial, sans-serif;
   
}

.trainers-section h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.trainers-section p {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 40px;
}

.trainers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.trainer {
    width: 80vw;
    background: #fff;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 20px;
    max-width: 200px;
    text-align: center;
}

.trainer img {
    width: 100%;
    border-radius: 50%;
    margin-bottom: 15px;
}

.trainer h3 {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.trainer p {
    color: #888;
    font-size: 0.9em;
}
