

.app-container {
  display: flex;
  height: 100vh;
  background-color: #1c1c1c;
  color: #fff;
}

.accordion {
  width: 20%;
  background-color: #2a2a2a;
  padding: 10px;
  border-right: 1px solid #444;
}

.main-content {
  height: 100%;
  flex: 1;
  padding: 20px;
  background-color: #444;
}


.accordion-title h2 {
    font-size: 20px; 
    position: relative;
    top: 20px;/* Adjust the font size as needed */
  }
  

  .app-container {
  display: flex;
  height: 100vh;
  background-color: #1c1c1c;
  color: #fff;
}

.accordion {
  width: 20%;
  background-color: #2a2a2a;
  padding: 10px;
  border-right: 1px solid #444;
  overflow-y: auto; /* Allow vertical scrolling */
}

.main-content {
  height: 100%;
  flex: 1;
  padding: 20px;
  background-color: #444;
  overflow-y: auto; /* Allow vertical scrolling */
}

.accordion-title h2 {
  font-size: 20px;
  position: relative;
  top: 20px; /* Adjust the font size as needed */
}
